<script>
var chart;
$(document).ready(function() {
  chart = new Highcharts.Chart({
    chart: {
      renderTo: 'sales_chart',
      type: 'areaspline'
    },
    colors: ['yellow'],
    title: {
      text: ''
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      categories: ['Nov','Dec','Jan','Feb','Mar','Apr']
    },
    yAxis: {
      title: {
        text: 'Totals'
      },
      min: 0
    },
    tooltip: {
      formatter: function() {
        return '<b>'+ this.series.name +'</b>: ' + this.y;
      }
    },
    navigation: {
      buttonOptions: {
        backgroundColor: {
          linearGradient: [0, 0, 0, 20],
          stops: [
           [0.4, '#606060'],
           [0.6, '#333333']
          ]
        }
      }
    },
    series: [{
      name: 'Sales',
      data: [1,2,3,4,6,4]
    }]
  });
});
</script>
<div id="sales_chart"></div>
