<style>
.carousel-dots a {
    background: url("/assets/navigator_buttons.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    font-size: 1px;
    height: 8px;
    margin: 3px;
    width: 8px;
}
.carousel-dots a:hover {background-position: 0 -8px;}
.carousel-dots a.current {background-position: 0 -16px;}
</style>

          <div class="carousel-dots">
            <a data-slide-number="0" class="current" href="#"></a>
            <a data-slide-number="1" href="#"></a>
            <a data-slide-number="2" href="#"></a>
          </div>

          <div id="myCarousel" class="carousel slide" style="margin: 100px auto; width: 870px; height: 500px">
            <div class="carousel-inner">
              <div class="item first active">
                <div style="float: left;">
                <ol style="margin: 200px auto; width: 80%;">
                    <li>Post-Money valuations on thousands of private financing transactions</li>
                    <li></li>
                    <li>Specific terms & conditions of private financing transactions</li>
                    <li></li>
                    <li>FAQ's</li>
                  </ol>
                </div>
                <div style="float: left; height: 490px">
                  <img style="margin-top: 150px; border: 1px solid #CCC;" src="/assets/vc_homepage.png" alt="">
                </div>
              </div>
              <div class="item second">
                <div style="float: left;">
                <ol style="margin: 200px auto; width: 80%;">
                    <li>Post-Money valuations on thousands of private financing transactions</li>
                    <li></li>
                    <li>Specific terms & conditions of private financing transactions</li>
                    <li></li>
                    <li>FAQ's</li>
                  </ol>
                </div>
                <div style="float: left; height: 490px">
                  <img style="margin-top: 150px; border: 1px solid #CCC;" src="/assets/vc_homepage.png" alt="">
                </div>
              </div>
              <div class="item third">
                <div style="float: left;">
                <ol style="margin: 200px auto; width: 80%;">
                    <li>Post-Money valuations on thousands of private financing transactions</li>
                    <li></li>
                    <li>Specific terms & conditions of private financing transactions</li>
                    <li></li>
                    <li>FAQ's</li>
                  </ol>
                </div>
                <div style="float: left; height: 490px">
                  <img style="margin-top: 150px; border: 1px solid #CCC;" src="/assets/vc_homepage.png" alt="">
                </div>
              </div>
            </div>
          </div>

<script language="JavaScript">
$(function() {
  $('.carousel').bind('slid', function(){
 //   alert("Slide Event");
  });

  $(".carousel-dots a").click(function(){
    slide_number = $(this).attr('data-slide-number');
    $('.carousel').carousel(parseInt(slide_number));

    $(".carousel-dots a").removeAttr("class");
    $(this).attr("class","current");
  });
});
</script>
