<!-- include Cycle plugin -->
<script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#testimonials1').cycle({
    fx: 'fade' // choose your transition type, ex: fade, scrollUp, scrollRight, shuffle
    //pager:  '#nav'
  });
 
  $('#testimonials2').after('<div id="nav2">').cycle({
    fx: 'scrollRight', // choose your transition type, ex: fade, scrollUp, scrollRight, shuffle
    pager:  '#nav2'
  });
});
</script>

<style>
*{margin:0;padding:0;}
body{
	font-family:Tahoma, Arial, sans-serif;
	padding:20px;
	}
/* testimonials: */
#testimonials1, #testimonials2 {
width:330px;
background:#E7E9E6;
border:1px solid #D8D9D6;
margin:10px 0;
 
}
#testimonials1 blockquote, #testimonials2 blockquote{
padding:10px;
width:300px !important;
font-family:Georgia, "Times New Roman", Times, serif;
font-style:italic;
color:#808080;
display:block;
}
 
#testimonials1 blockquote p, #testimonials2 blockquote p{
margin: 0 !important;padding: 5px!important;
 
}
#testimonials1 blockquote cite, #testimonials2 blockquote cite {
font-style: normal;
display: block;
 
text-transform: uppercase;
font-weight: bold;
font-style:italic;
color: #555;
padding-left:5px;
margin-top:10px;
}
</style>


<h2>Testimonials With Fade Effect</h2>
<div id="testimonials1">
 
 <blockquote><p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "
                <cite>&ndash;Martin - NY</cite></p></blockquote>
 
                <blockquote><p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                <cite>&ndash;Sandra - LA</cite></p></blockquote>
 
                <blockquote><p>"Duis aute irure dolor in reprehenderit in voluptate nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                <cite>&ndash;Jason - MA</cite></p></blockquote>
 
</div><!--end .testimonials1-->
 
<br />
 
 
<h2>Testimonials with ScrollRight Effect</h2>
<div id="testimonials2">
 
 <blockquote><p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "
                <cite>&ndash;Martin - NY</cite></p></blockquote>
 
                <blockquote><p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                <cite>&ndash;Sandra - LA</cite></p></blockquote>
 
                <blockquote><p>"Duis aute irure dolor in reprehenderit in voluptate nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                <cite>&ndash;Jason - MA</cite></p></blockquote>
 
</div><!--end .testimonials2-->
