form.assignment {font-size: 14px;}

form.assignment input[readonly="readonly"]
{
  background: none;
  border: none;
  color: "#000";
}

/*--------------------- Assignment Fields ---------------------*/
#assignment_fields {
  width: 96%;
  padding: 0px 20px;
  margin: auto;
}

#assignment_fields .form_header_left {
  width: 50%;
}

#assignment_fields .form_header_right {
  width: 50%;
}

#assignment_fields .form_header_right label.label { 
  width: 102px;
}

#assignment_fields div {float: left;}

#assignment_fields abbr {border: none}

#assignment_fields ol > li {
  width: auto;
  padding: 2px 5px;
}

#assignment_fields ol > li label.label {
  margin-right: 20px;
}

#assignment_fields ol > li label[for].label {
  padding-top: 5px;
}

#assignment_fields .form_header input {
  width: 85px;
  height: 15px !important;
  padding: 5px;
}

#assignment_fields .assignment_middle {
  width:100%;
  padding-top: 20px;
}

#assignment_fields .assignment_middle ol > li {float: left}
#assignment_fields .assignment_middle ol > li label.label {width: auto}
#assignment_fields .assignment_middle .location_information {width: 100%}

#assignment_fields .location_information input {width: 400px !important;}

#assignment_fields .assignment_middle .location_grid {
  text-transform: capitalize;
  padding: 20px 15px;
}

#assignment_fields .form_footer {padding-top: 20px}

#assignment_fields .form_footer ol > li {width: 400px; float: left}
#assignment_fields .form_footer ol > li label.label {width: 124px}
#assignment_fields .form_footer input {width: auto}
#assignment_fields .form_footer input.plain {
  width: auto;
  font-size: 14px;
  padding-top: 5px;
}

#assignment_fields input.plain {
  border: none;
  background: none;
  color: #BABDBF;
  padding: 0;
  width: 100px;
  font-family: Helvetica, Arial, sans-serif;
}

/*--------------------- Material & Labor Fields ---------------------*/

div.materials_grid {
  width: 900px;
  padding: 20px 40px 0 60px;
  margin: 10px auto;
  border: 1px solid #C9D0D6;
  border-radius: 10px;
}

div.labor_grid {
  width: 1120px;
  padding: 20px 20px 0 80px;
  margin: 10px auto;
  border: 1px solid #C9D0D6;
  border-radius: 10px;
}

.materials_grid ol {
  float: left;
  width: 860px;
  margin: 0;
}

.labor_grid ol {
  float: left;
  width: 1080px;
  margin: 0;
}

.materials_grid ol > li,
.labor_grid ol > li {
  float: left;
  margin: 0;
  padding-bottom: 2px;
  width: 184px;
  text-align: center;
}

.materials_grid ol > li.material_delete,
.labor_grid ol > li.labor_delete {
  width: 24px;
  padding-top: 15px;
}

.materials_grid ol > li.material_delete img:hover,
.labor_grid ol > li.labor_delete img:hover {cursor: pointer}

.materials_grid ol.material_assignment_labels label.label,
.labor_grid ol.labor_assignment_labels label.label {
  width: inherit;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #5E6469;
}

.materials_grid select,
.labor_grid select {width: 184px;}

.materials_grid ol > li input[type="number"],
.labor_grid ol > li input[type="number"] {
  border: 1px solid #C9D0D6;
  border-radius: 3px 3px 3px 3px;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 0.95em;
  outline: medium none;
  padding: 8px 14px 7px;
  text-align: center;
}

.add_material_assignment,
.add_labor_assignment {margin: 10px}
