#utility_nav span a.current_user {color:#AAA}
.status.accepted{background:none repeat scroll 0 0 #8DAA92}

.form_header,
.form_header_left,
.form_header_right {
  float: left;
}
.form_header,
.form_footer {
  width: 100%;
}

.form_header_left {
  width: 80%;
}

.form_header_right {
  width: 20%;
}

.form_header label.label {
  color: #5E6469;
  font-weight: bold;
}

.form_header_right label.label {
  width: 200px;
}
