#document {
  width: 760px;
  height: 1040px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.labels {
  float: left;
  font-weight: bold;
  width: 120px;
  height: auto;
}

.inputs {
  float: left;
  margin-left: 10px;
}

.header {
  float: left;
  width: 760px;
  height: 100px;
}

.header .left {
  float: left;
  width: 510px;
  height: 100px;
}

.header .right {
  float: left;
  width: 250px;
  height: 100px;
}

/* Proposal PDF */

.billing {
  float: left;
  width: 760px;
  height: 110px;
}

.location_num {
  float: left;
  width: 760px;
}

.tasks {
  width: 80%;
  margin: 20px 0 20px 40px;
}

.tasks table {
  width: 100%;
}

.tasks tr.blank {height: 10px}

.tasks table tr th {text-decoration: underline}

.tasks table tr td {width: 25%; text-align: center;}
.tasks table tr .first {text-align: left;}
.tasks table tr .last {text-align: right;}

.customer_type {
  float: left;
  width: 760px;
}

.customer_type .types {
  width: 500px;
}

.customer_type .types .type {
  float: left;
  width: 200px;
}

.salesperson {
  float: left;
  width: 760px;
}

/* Work Order PDF */

.work_location {
  float: left;
  width: 510px;
}

.notes {
  float: left;
  width: 250px;
  margin-bottom: 70px;
}

.work_order_tasks {
  width: 80%;
  margin: 0 0 50px 40px;
}

.work_order_tasks table {
  width: 100%;
}

.work_order_tasks tr.blank {height: 10px}

.work_order_tasks table tr th {text-decoration: underline}

.work_order_tasks table tr td {width: 20%; text-align: center;}
.work_order_tasks table tr .first {text-align: left;}
.work_order_tasks table tr .last {text-align: right;}

.manager {
  float: left;
  width: 380px;
}

.date_required {
  float: left;
  width: 380px;
}

/* Assignment PDF */

.assignment_location {
  float: left;
  width: 100%;
}

.supervisor_vehicle {
  float: left;
  width: 760px;
}

.material_assignments {
  width: 100%;
  margin: 0 0 50px 40px;
}

.labor_assignments {
  width: 100%;
  margin: 0 0 50px 40px;
}

.material_assignments table {width: 100%;}
.labor_assignments table {width: 100%;}

.material_assignments table tr th {text-decoration: underline}
.labor_assignments table tr th {text-decoration: underline}

.material_assignments table tr th.assignment_header {
  text-decoration: none;
  padding: 10px 0;
}

.labor_assignments table tr th.assignment_header {
  text-decoration: none;
  padding: 10px 0;
}

.material_assignments table tr td {width: 20%; text-align: center;}
.material_assignments table tr .first {text-align: left;}
.material_assignments table tr .last {text-align: right;}

.labor_assignments table tr td {width: 20%; text-align: center;}
.labor_assignments table tr .first {text-align: left;}
.labor_assignments table tr .last {text-align: right;}

.auth_by {
  float: left;
  width: 380px;
}

.auth_date {
  float: left;
  width: 400px;
}
