#document {
  width: 760px;
  height: 1040px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.labels {
  float: left;
  font-weight: bold;
  width: 120px;
  height: auto;
}

.inputs {
  float: left;
  margin-left: 10px;
}

.header {
  float: left;
  width: 760px;
  height: 100px;
}

.header .left {
  float: left;
  width: 510px;
  height: 100px;
}

.header .right {
  float: left;
  width: 250px;
  height: 100px;
}

/* Proposal PDF */

.billing {
  float: left;
  width: 760px;
  height: 110px;
}

.location_num {
  float: left;
  width: 760px;
}

.tasks {
  width: 80%;
  margin: 20px 0 20px 40px;
}

.tasks table {
  width: 100%;
}

.tasks tr.blank {height: 10px}

.tasks table tr th {text-decoration: underline}

.tasks table tr td {width: 25%; text-align: center;}
.tasks table tr .first {text-align: left;}
.tasks table tr .last {text-align: right;}

.customer_type {
  float: left;
  width: 760px;
}

.customer_type .types {
  width: 500px;
}

.customer_type .types .type {
  float: left;
  width: 200px;
}

.salesperson {
  float: left;
  width: 760px;
}

/* Work Order PDF */

.manager {
  float: left;
  width: 380px;
}

.date_required {
  float: left;
  width: 380px;
}
