form.work_order {font-size: 14px;}

/*--------------------- Work Order Fields ---------------------*/
#wo_fields {
  width: 96%;
  padding: 0px 20px;
  margin: auto;
}

#wo_fields .form_header_left {
  width: 60%;
}

#wo_fields .form_header_right {
  width: 40%;
}

#wo_fields div {float: left;}

#wo_fields div.hr {
  width: 100%;
  margin: 20px 0px;
}

#wo_fields abbr {border: none}

#wo_fields ol > li {
  width: auto;
  padding: 2px 5px;
}

#wo_fields ol > li label.label {
  width: 100px;
  margin-right: 20px;
}

#wo_fields ol > li label[for].label {
  padding-top: 5px;
}

#wo_fields ol > li label.client_label {
  margin-right: 20px;
  font-weight: bold;
}

#wo_fields .form_header input {
  width: 85px;
  height: 15px !important;
  padding: 5px;
}

#wo_fields .mini {width: auto !important}

#wo_fields .client_information label.label {
  width: 60px;
  margin-left: 25px;
  padding-top: 7px;
}

#wo_fields .location_information input {width: 400px !important;}

#wo_fields .wo_middle {width:100%}
#wo_fields .wo_middle .location_information {width: 50%}

#proposal_fields #client_header {text-align: center; margin-bottom: 10px}

#wo_fields .form_footer label.label {
  width: 110px;
  padding: auto;
}

#wo_fields .form_header input.plain {
  border: none;
  background: none;
  color: #BABDBF;
  padding: 0;
  width: 100px;
  font-family: Helvetica, Arial, sans-serif;
}

#proposal_fields .client_information #client_city_input,
#proposal_fields .client_information #client_state_input,
#proposal_fields .client_information #client_zip_input {float: left;}

#proposal_fields .client_information #client_state_input label,
#proposal_fields .client_information #client_zip_input label {width: auto; margin: 0 10px;}

#proposal_fields .client_information input.city {width: 170px !important;}
#proposal_fields .client_information input.state {width: 20px !important;}
#proposal_fields .client_information input.zip {width: 40px !important;}

/*--------------------- Task Fields ---------------------*/
div[class*='tasks_'] {
  float: right;
  width: 680px;
  padding: 20px 50px;
  margin: 10px 20px 0;
  border: 1px solid #C9D0D6;
  border-radius: 10px;
}

.task_labels,
.task_fields {
  width: 680px;
  margin: 0 auto;
}

.task_labels label.label {
  width: 150px;
  text-align: center;
  border-bottom: 1px solid #5E6469;
}

.task_labels ol {
  width: 100%;
}

.task_labels ol > li,
.task_fields ol > li {
  float: left;
}

.task_fields ol {
  width: 680px;
  margin: 0 auto;
  clear:both
}

.task_fields ol > li {
  width: 150px;
  text-align:center;
  padding-top: 2px;
}

.task_fields ol > li input {
  width: 130px;
  text-align: center;
}
.task_fields ol > li input[type="number"] {
 border: 1px solid #C9D0D6;
    border-radius: 3px 3px 3px 3px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 0.95em;
    outline: medium none;
    padding: 8px 10px 7px;
}

/* Buttons */
.add_task,
.add_location {float:left}
.add_location {width:100%;}

.add_task {width:150px;margin-left:10px;text-align:center}
.add_task .button {margin:0 !important}
