form.work_order {font-size: 14px;}

form.work_order input[readonly="readonly"],
form.work_order input[disabled="disabled"]
{
  background: none;
  border: none;
  color: "#000";
}

/*--------------------- Work Order Fields ---------------------*/
#wo_fields {
  width: 96%;
  padding: 0px 20px;
  margin: auto;
}

#wo_fields .form_header_left {
  width: 50%;
}

#wo_fields .form_header_right {
  width: 50%;
}

#wo_fields .form_header_right label.label { 
  width: 42px;
}

#wo_fields div {float: left;}

#wo_fields abbr {border: none}

#wo_fields ol > li {
  width: auto;
  padding: 2px 5px;
}

#wo_fields ol > li label.label {
  width: 102px;
  margin-right: 20px;
}

#wo_fields ol > li label[for].label {
  padding-top: 5px;
}

#wo_fields .form_header input {
  width: 85px;
  height: 15px !important;
  padding: 5px;
}

#wo_fields .radio_label {
  margin: 0px 10px 0px 5px;
}

#wo_fields .wo_middle {
  width:100%;
  padding-top: 20px;
}

#wo_fields .wo_middle .location_information,
#wo_fields .wo_middle .notes_box
 {width: 50%}

#wo_fields .location_information input {width: 400px !important;}

#wo_fields .wo_middle .location_grid {
  text-transform: capitalize;
  padding: 20px 15px;
}

#wo_fields .wo_middle .notes_box label.label {width: auto}

#wo_fields .form_footer {padding-top: 20px}

#wo_fields .form_footer ol > li {width: 400px; float: left}
#wo_fields .form_footer input {width: 90px; text-align: center}

#wo_fields .form_header input.plain {
  border: none;
  background: none;
  color: #BABDBF;
  padding: 0;
  width: 100px;
  font-family: Helvetica, Arial, sans-serif;
}

/*--------------------- Task Fields ---------------------*/
.container_wo_tasks {
  float: left;
  width: 1200px;
  padding: 0 40px;
}

.wo_tasks {
  float: left;
  width: 1100px;
  padding: 20px 50px;
  border: 1px solid #C9D0D6;
  border-radius: 10px;
}

.wo_tasks .task_labels {
  float: left;
  width: 1100px;
  margin: 0;
}

.wo_tasks .task_fields {
  float: left;
  width: 1100px;
  margin: 0;
}

.wo_tasks .task_labels label.label {
  text-align: center;
  border-bottom: 1px solid #5E6469;
}

.wo_tasks .task_labels ol {
  float: left;
  width: 1100px;
}

.wo_tasks .task_labels ol > li,
.wo_tasks .task_fields ol > li {
  float: left;
  width: 162px;
}

.wo_tasks .task_fields ol {
  width: 1100px;
  margin: 0 auto;
}

.wo_tasks .task_fields ol > li {
  text-align:center;
  padding-top: 2px;
}

.wo_tasks .task_fields ol > li input {
  float: left;
  text-align: center;
}
.wo_tasks .task_fields ol > li input[type="number"] {
  border: 1px solid #C9D0D6;
  border-radius: 3px 3px 3px 3px;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 0.95em;
  outline: medium none;
  padding: 8px 10px 7px;
}

/* Buttons */
form.work_order fieldset.buttons li.button input {text-transform: capitalize}
